<div class="feedback">
    <div class="container">
        <div class="row">
            <div class="feedback__inner">
                <h2>ПОЯВИЛИСЬ ВОПРОСЫ? НЕ НАШЛИ ТО, ЧТО ИСКАЛИ? </h2>
                <h5>ОСТАВЬТЕ СВОИ КОНТАКТЫ И МЫ С РАДОСТЬЮ НА НИХ ОТВЕТИМ</h5>
                <form action="" class="feedback__form">
                    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" placeholder="Контактный телефон">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <input type="submit" value="ЗАКАЗАТЬ ЗВОНОК">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>