<nav class="nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="#">ГЛАВНАЯ</a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="#">О КУЗНИЦЕ</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="#">ВЫЗВАТЬ ЗАМЕРЩИКА</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="#">КАТАЛОГ</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a href="#">КОНТАКТЫ</a>
            </div>
        </div>
    </div>
</nav>
