<section class="now">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Хиты продаж</a></li>
                <li><a data-toggle="tab" href="#panel2">Новинки</a></li>
                <li><a data-toggle="tab" href="#panel3">Акции</a></li>
            </ul>

            <div class="tab-content">
                <div id="panel1" class="tab-pane fade in active">
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                            <div class="now__price">15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">Клей НАШИ "ТЕРМОС", 30 кг</div>
                            <div class="now__price"><span>18 000 ТГ</span>15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">Alina Paint Sabbia Silver, 4,5 кг декоративная краска</div>
                            <div class="now__price">15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                            <div class="now__price"><span>18 000 ТГ</span>15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                            <div class="now__price">15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">Клей НАШИ "ТЕРМОС", 30 кг</div>
                            <div class="now__price"><span>18 000 ТГ</span>15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">Alina Paint Sabbia Silver, 4,5 кг декоративная краска</div>
                            <div class="now__price">15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                    <div class="now__item col-lg-3">
                        <div class="now__img"><img src="img/now-img.png" alt=""></div>
                        <div class="now__txt">
                            <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                            <div class="now__price"><span>18 000 ТГ</span>15 000 ТГ</div>
                            <button class="now__btn">В корзину</button>
                        </div>
                    </div>
                </div>
                <div id="panel2" class="tab-pane fade">
                    <h3>Панель 2</h3>
                    <p>Содержимое 2 панели...</p>
                </div>
                <div id="panel3" class="tab-pane fade">
                    <h3>Панель 3</h3>
                    <p>Содержимое 3 панели...</p>
                </div>
            </div>
        </div>
    </div>
</section>